
    <link rel="stylesheet" href="css/ink_style.css">

    <div class="outerContainer">
        <h3 class="written-in-ink"><a href="https://www.inklestudios.com/ink">WRITTEN IN INK</a></h3>
        <div id="story" class="container">
            <div class="header">
                <h1>web</h1>
                <h2 class="byline"></h2>
            </div>
        </div>
    </div>

<script src="{{ "js/ink.min.js" | absURL}}"></script>
<script src="{{ .Get 0 | absURL}}"></script>
<script src="{{ "js/main.js" | absURL}}"></script>